<h1>Orders</h1>

<p>Current Seller: <%= @seller.first_name %></p>








  <table class="table">
    <% @seller.buyers.each do |buyer| %>
     <% buyer.orders do |order| %>
        <tr>
        <td><%= order.buyer.first_name + ' ' + order.buyer.last_name %></td>
        <td><%= order.product.name%></td>
        <td><%= order.product.price%></td>
        <td><%= order.status%></td>
        <td><%= order.buyer.seller.first_name%></td>
        <tr>
     <% end %>
    <% end %>
    </table>



<p>--------</p>


<table class="table">
  <% @orders.each do |order| %>
  <tr>
  <td><%= order.buyer.first_name + ' ' + order.buyer.last_name %></td>
  <td><%= order.product.name%></td>
  <td><%= order.product.price%></td>
  <td><%= order.status%></td>
  <td><%= order.buyer.seller.first_name%></td>
  <tr>
  <% end %>
  </table>
