<div id="billings" class="row justify-content-center ">
  <div class="col-sm-11 offset-sm-1 contenedor" style="padding:20px 0">

    <h1>Billings</h1>


        <table id="billingsTable" class="table table-striped table-hover table-responsive-md ">
          <thead>
            <tr>
              <th>Cliente</th>
              <th>Creado</th>
              <th>#</th>
              <th>Status</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
          <% @billings.each do |billing| %>

            <tr>
              <td>  <%= billing.buyer.first_name %> <%= billing.buyer.last_name %></td>
              <td>  <%= billing.created_at.strftime(" %d-%m-%y ") %></td>
              <td>  <%= billing.orders.count %></td>
              <td>  <%= billing.status %></td>
              <td>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#<%=billing.id %>" aria-expanded="false" aria-controls="collapseExample">Ver Detalle</button>
                <button class="btn btn-success" type="button" >Kobrar</button>
              </td>

            </tr>
            <tr>
              <td colspan="5" style="padding:0">
                <div class="collapse" id="<%=billing.id%>">
                  <div class="card card-body">
                    <table class="table table-hover table-responsive-md ">
                      <tbody>
                        <% billing.orders.each do |order| %>
                        <tr>
                          <td><%= order.id%></td>
                          <td><%= order.product.name%></td>
                          <td><%= number_to_currency(order.product.price, precision: 0, seperator: ",", delimiter: ".")%></td>
                          <td><%= order.created_at.strftime(" %d-%m-%y ")%></td>
                        </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </div>
              </div>
              </td>
            </tr>
          <% end %>


          </tbody>
      </table>
    </div>
</div>
