<div id="billings" class="row justify-content-center ">
  <div class="col-sm-11 offset-sm-1 contenedor" style="padding:20px 0">

    <h1>Billings</h1>
    <p class="pad_izq">Resutados búsqueda: <%= @billings.count %></p>

<div class="buscador">
    <%= search_form_for @search do |f| %>
    <form>
      <div class="form-row modal-body">
        <div class="form-group col-md-2">
          <%= f.label :buyer_first_name_cont, "Nombre contiene" %>
          <%= f.text_field :buyer_first_name_or_buyer_last_name_cont, class:"form-control" %>
        </div>
        <div class="form-group col-md-2">
          <%= f.label :created_at_gteq, "Fecha de inicio" %>
          <%= f.text_field :created_at_gteq, id: 'event_start', class:"form-control" %>
        </div>
        <div class="form-group col-md-2">
          <%= f.label :created_at_lteq, "Fecha Final"  %>
          <%= f.text_field :created_at_lteq, id: 'event_start', class:"form-control"%>
        </div>
        <div class="form-group col-md-2">
          <%= f.label :status_cont, "Estado" %>
          <%= f.select :status_cont, [0,1,2], :prompt => "Todos", class:"form-control" %>

        </div>
      </div>

      <div class="form-row pad_izq">
        <div class="col-10 offset-1 offset-md-0 col-md-2">
          <div class="actions"><%= f.submit "Filtrar", class:"btn btn-outline-success btn-block" %></div>
        </div>
        <div class="col-10 offset-1 offset-md-0 col-md-2 mar_top" >
          <%= link_to 'Limpiar Busqueda', billings_path, class:"btn btn-outline-danger btn-block" %>
        </div>
      </div>

  </form>
    <% end %>

</div>


        <table  class="table table-striped table-hover table-responsive-md ">
          <thead>
            <tr>
              <th><%=sort_link @search, :buyer_first_name, "Cliente" %></th>
              <th><%=sort_link @search, :created_at, "Creado" %></th>
              <th>Total</th>
              <th><%=sort_link @search, :status, "Status" %></th>
              <th></th>
            </tr>
          </thead>

          <tbody>
          <% @billings.each do |billing| %>
            <tr>
                <td>  <%= billing.buyer.first_name %> <%= billing.buyer.last_name %></td>
                <td>  <%= billing.created_at.strftime(" %d-%m-%y ") %></td>
                <td>  <%= number_to_currency(billing.orders.pluck('price').sum(), precision: 0, seperator: ",", delimiter: ".")%></td>
                <td>  <%= billing.status %></td>
                <td><button class="btn btn-outline-info" type="button" data-toggle="collapse" data-target="#<%=billing.id %>" aria-expanded="false" aria-controls="collapseExample">Detalle</button></td>
                <td>    <%= link_to 'Kobra', rekobrar_billing_path(billing), method: :patch, class:"btn btn-danger" if billing.notpaid? %></td>
                <td>    <%= link_to 'Pagar', paid_billing_path(billing), method: :patch, class:"btn btn-warning" if billing.notpaid? %></td>

            </tr>
            <tr>
              <td colspan="9" style="padding:0">
                <div class="collapse" id="<%=billing.id%>">
                  <div class="card card-body">
                    <table class="table table-hover table-responsive-md ">
                      <tbody>
                        <% billing.orders.each do |order| %>
                        <tr>
                          <td><%= order.id%></td>
                          <td><%= order.product.name%></td>
                          <td><%= number_to_currency(order.price, precision: 0, seperator: ",", delimiter: ".")%></td>
                          <td><%= order.created_at.strftime(" %d-%m-%y ")%></td>
                        </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </div>
              </div>
              </td>
            </tr>

          <% end %>
          </tbody>
      </table>

    </div>
</div>
