<div id="buyers" class="row justify-content-center ">
  <div class="col-sm-11 offset-sm-1 contenedor table-responsive" style="padding:20px 0">

  <h1>Buyers</h1>


  <table id="buyersTable" class="table table-striped table-hover  ">
    <thead>
      <tr>
        <th></th>
        <th>Nombre</th>
        <th>Celular</th>
        <th class="d-none d-md-block">Email</th>
        <th>Kobros Pendientes</th>
        <th></th>

      </tr>
    </thead>

    <tbody>
      <% @buyers.each do |buyer| %>
      <%= link_to products_path do %>
      <div>
        <tr>
          <td><%= image_tag buyer.photo.to_s, class:"foto_cliente" %></td>
          <td class="clickeable"><%= link_to buyer.first_name + ' ' + buyer.last_name, buyer %></td>
          <td><%= buyer.phone %></td>
          <td class="d-none d-md-block"><%= buyer.email %></td>
          <td><%= buyer.billings.notpaid.count %></td>
          <td><%= link_to 'Vender', buyer_products_path(buyer), class:"btn btn-outline-primary btn-sm" %>
        </tr>
    </div>
      <% end %>
      <% end %>
    </tbody>
  </table>

  <br>

  <div class="fixed-bottom">
    <%= link_to 'Crear Cliente', new_buyer_path, class:"btn verde btn-lg btn-block" %>
</div>




  </div><!-- FIN Columna -->
</div> <!-- FIN row -->
