<p id="notice"><%= notice %></p>

<h1>Buyers</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th colspan="1"></th>
      <th>Nombre</th>
      <th>Celular</th>
      <th>Email</th>
      <th>Observaciones</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @buyers.each do |buyer| %>
      <tr>
        <td><%= buyer.photo %></td>
        <td><%= buyer.first_name %> <%= buyer.last_name %></td>
        <td><%= buyer.phone %></td>
        <td><%= buyer.email %></td>
        <td><%= buyer.detail %></td>
        <td><%= link_to 'VENDER',buyer_products_path(buyer), class:"btn btn-dark" %></td>
        <td><%= link_to 'Show', buyer %></td>
        <td><%= link_to 'Edit', edit_buyer_path(buyer) %></td>
        <td><%= link_to 'Destroy', buyer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to 'Crear Cliente', new_buyer_path, class:"btn btn-primary btn-lg btn-block" %>
