<h1>Venta</h1>
<p>Escoge la persona a la que quieres sumarle una venta</p>
<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Photo</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Detail</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @buyers.each do |buyer| %>
      <tr>
        <td><%= buyer.first_name %></td>
        <td><%= buyer.last_name %></td>
        <td><%= buyer.photo %></td>
        <td><%= buyer.phone %></td>
        <td><%= buyer.email %></td>
        <td><%= buyer.detail %></td>
        <td><%= link_to 'Vender', buyer_orders_path(buyer), method: :post %></td>
      </tr>
    <% end %>
  </tbody>
</table>
