<h1>Venta Productos o servicios</h1>
<p>Escoge el o los productos que quieres agregar a la canasta</p>
<table>
  <thead>
    <tr>
      <th>Producto</th>
      <th>Detalle</th>
      <th>Precio</th>
      <th>Categoría</th>
      <th colspan="1"></th>

    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.detail %></td>
        <td><%= product.price %></td>
        <td><%= product.category %></td>
        <td><%= link_to 'AGREGAR', pages_index_path %></td>

      </tr>
    <% end %>
  </tbody>
</table>
