<div class="row buyer">
  <div class="col-sm-12 col-md-2">
    <%= image_tag @buyer.photo.to_s, class:"foto_buyer" %>
  </div>

  <div class="col-sm-12 col-md-10">
    <h1><%=@buyer.first_name %>  <%= @buyer.last_name %></h1>
    <p><%= @buyer.phone %></p>
    <p><%= @buyer.email %></p>
    <p><%= @buyer.detail %></p>
    <%= link_to 'Edit', edit_buyer_path(@buyer) %> |
    <%= link_to 'Destroy', @buyer, method: :delete, data: { confirm: 'Are you sure?' } %> |
    <%= link_to 'Back', buyers_path %>
  </div>
</div>
