<div id="products" class="row justify-content-center ">
  <div class="col-sm-11 offset-sm-1 contenedor" style="padding:20px 0">

      <div class="row">
          <div class="col-7 col-md-10">
            <h1>Products</h1>
          </div>

          <div class="col-3 col-md-2 ">
           <%= link_to 'Nuevo producto',  new_product_path, class:"btn btn-primary" %>
          </div>
      </div>

      <table class="table table-striped table-hover table-responsive-xl">
        <thead>
          <tr>
            <th>Producto</th>
            <th>Detalle</th>
            <th>Precio</th>
          </tr>
        </thead>

        <tbody>
          <% @products.each do |product| %>
            <tr>
              <td><%= product.name %></td>
              <td><%= product.detail %></td>
              <td><%= number_to_currency(product.price, precision: 0, seperator: ",", delimiter: ".")%></td>


              <% if params[:buyer_id].present?%>
              <td><%= link_to 'Agregar', buyer_orders_path(product: product.id), method: :post, class:"btn btn-primary" %></td>
              <% end %>
              <td><%= link_to '<i class="fa fa-eye fa-2x"></i>'.html_safe, product %><td>
              <td><%= link_to '<i class="fa fa-edit fa-2x"></i>'.html_safe, edit_product_path(product) %><td>
              <td><%= link_to '<i class="fa fa-trash fa-2x"></i>'.html_safe, product, method: :delete, data: { confirm: 'Are you sure?' } %><td>
            </tr>
          <% end %>
        </tbody>
      </table>


  <% if params[:buyer_id].present?%>
  <button class="btn black btn-lg btn-block fixed-bottom" data-toggle="modal" data-target="#canasta"><%= @cantidad %> | <i class="fa fa-shopping-basket"></i> Ver Canasta | $<%= @total %> | </button>

  <div class="modal" id="canasta">
    <div class="bottom white b-t" style="height:90vh">
      <div class="row-col"><a data-dismiss="modal" class="pull-right text-muted text-lg p-a-sm m-r-sm">×</a>

          <div class="p-a b-b">
            <span class="h5">Canasta de <%= @buyer.first_name + ' ' + @buyer.last_name  %></span>
          </div>

          <div class="row">
                <div class="col-12">
                  <table class="table table-hover">
                    <% @orders.each do |order| %>
                    <tr>
                      <td><%= order.product.name%></td>
                      <td><%= number_to_currency(order.product.price, precision: 0, seperator: ",", delimiter: ".")%></td>

                      <td><%= order.created_at.strftime(" %d-%m-%y ")%></td>
                      <td><%= order.status%></td>
                      <td><%= link_to '<i class="fa fa-trash fa-2x"></i>'.html_safe, order, method: :delete, data: { confirm: 'Seguro?' } %><td>

                    <tr>
                    <% end %>
                  </table>
                </div>
          </div>

          <%= link_to 'Confirmar compra', pre_pay_billings_path(buyer_id: @buyer.id), class:'btn btn-succes float-right' %>

        </div>
      </div>
    </div>
  <% end %><!--END del if que mustra la canasta %>-->


</div>
</div>
