<div id="products" class="row justify-content-center difuminar">
  <div class="col-sm-11 offset-sm-1 contenedor table-responsive " style="padding:20px 0">

    <div class="animated fadeIn fast">
      <div class="row">
          <div class="col-7 col-md-9 col-lg-10">
            <h1>Productos</h1>
            <h2>o servicios</h2>
          </div>

          <div class="col-3 col-md-2 ">
           <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#crearProductoModal">
              Crear producto
            </button>
          </div>
      </div>

      <table id="productsTable" class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Precio</th>
            <% if params[:buyer_id].present?%>
              <th>Boton agregar</th>
            <%end %>
            <th>Borrar</th>
          </tr>
        </thead>

        <tbody>
          <% @products.each do |product| %>
            <tr onclick="location.href='<%= product_path(product) %>'">
              <td class="clickeable"><%= link_to product.name, product %></td>
              <td class="clickeable"><%= product.category %></td>
              <td><%= number_to_currency(product.price, precision: 0, seperator: ",", delimiter: ".")%></td>
              <% if params[:buyer_id].present?%>
                <% if product.basquet_quantity(@buyer) == 0  %>
                  <td><%= link_to 'Agregar', buyer_orders_path(product: product.id), method: :post, class:"btn btn-outline-primary" %></td>
                <% elsif product.basquet_quantity(@buyer) > 0  %>
                  <td><%= link_to '<i class="fas fa-minus-circle fa-2x"></i>'.html_safe, buyer_orders_substract_path(product: product.id), method: :post %>
                  <%= product.basquet_quantity(@buyer) %>
                  <%= link_to '<i class="fas fa-plus-circle fa-2x"></i>'.html_safe, buyer_orders_add_path(product: product.id), method: :post %></td>
                <% end %>
              <% end %>
              <td><%= link_to '<i class="fa fa-trash fa-2x"></i>'.html_safe, product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
</div>

<!-- Modal Crear Producto -->
<div class="modal fade" id="crearProductoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Crear Producto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render "shared/form_product" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<!-- FIN Modal Crear Producto -->



  <% if params[:buyer_id].present?%>
  <button class="btn btn-primary btn-lg btn-block fixed-bottom" data-toggle="modal" data-target="#canasta"><%= @total_quantity %> | <i class="fa fa-shopping-basket"></i> Ver Canasta | $<%= @total_amount %> | </button>

  <div class="modal" id="canasta">
    <div class="bottom white b-t" style="height:90vh">
      <div class="row-col">

          <div class="p-a b-b canasta_header row">
              <div class="col-3 col-md-1">
                <%= image_tag 'canasta.svg', class:"ico_canasta"%>
              </div>
              <div class="col-8 col-md-10">
                <p>Canasta de</p>
                <span class="h5"><%= @buyer.first_name + ' ' + @buyer.last_name  %></span>
                <p>Total: $<%= @total_amount %></p>
              </div>
              <div class="col-1 col-md-1">
                <a data-dismiss="modal" class="pull-right text-muted text-lg p-a-sm m-r-sm">×</a>
              </div>
          </div>
          <div class="row">
                <div class="col-12" style="overflow: scroll;height: calc(90vh - 150px);">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Precio Unitario</th>
                        <th>Fecha de Ingreso</th>
                        <th>Total a Kobrar</th>
                        <th>Borrar</th>

                      </tr>
                    </thead>

                    <% @orders.each do |order| %>

                    <tr>
                      <td><%= order.product.name%></td>
                      <td><%= order.quantity%></td>
                      <td>
                          <button class="btn btn-outline-info" type="button" data-toggle="collapse" data-target="#<%=order.id %>" aria-expanded="false" aria-controls="collapseExample">
                            <%= number_to_currency(order.price, precision: 0, seperator: ",", delimiter: ".")%>
                          </button>
                      </td>
                      <td><%= order.created_at.strftime(" %d-%m-%y ")%></td>
                      <td><%= number_to_currency(order.total_amount, precision: 0, seperator: ",", delimiter: ".")%></td>
                      <td><%= link_to '<i class="fa fa-trash fa-2x"></i>'.html_safe, order, method: :delete, data: { confirm: 'Seguro?' } %><td>
                    <tr>

                    <tr>
                      <td colspan="6" style="padding:0">
                        <div class="collapse" id="<%=order.id%>">
                          <div class="card card-body">
                              <div class="row">
                                  <div class="col-3 col-md-2">
                                      <p>Cambiar precio:</p>
                                  </div>
                                  <div class="col-2">
                                    <%= form_with(model: order, local: true) do |form| %>
                                           <div class="field">
                                              <%= form.number_field :price, class:"form-control" %>
                                            </div>
                                  </div>
                                  <div class="col-3 col-md-2">
                                            <div class="actions">
                                              <%= form.button :submit  => "Guardar", class:"btn btn-success" %>
                                            </div>
                                    <% end %>
                                  </div>
                                </div>

                          </div>
                        </div>
                      </td>
                    </tr>
                    <% end %>

                  </table>

                </div>
          </div>





          <!--Botones guardar y kobrar que se ven solo si hay orders en la canasta %>-->
          <% if @orders.count > 0 %>
            <div class="row botones fixed-bottom">
              <div class="col-md-2 offset-md-4 col-6">
                <%= link_to "Guardar" ,root_path, class:"btn btn-success btn-block" %>
              </div>
              <div class="col-md-2 col-6">
                <%= link_to "Kobrar" ,pre_pay_billings_path(buyer_id: @buyer.id), class:"btn btn-danger btn-block" %>
              </div>
            </div>
          <% else %>
            <div class="row">
              <div class="col-12 text-center">
                <p>Canasta Vacía</p>
              </div>
            </div>
          <% end %>

        </div>
      </div>
    </div>
  <% end %><!--END del if que mustra la canasta %>-->


</div>
</div>
