<h1>Products</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Detail</th>
      <th>Price</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.detail %></td>
        <td><%= product.price %></td>
        <td><%= product.category %></td>
        <% if params[:buyer_id].present?%>
        <td><%= link_to 'Agregar', buyer_orders_path(product: product.id), method: :post, class:"btn btn-primary" %></td>
        <% end %>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>

<% if params[:buyer_id].present?%>

<button class="btn black btn-lg btn-block fixed-bottom" data-toggle="modal" data-target="#canasta"><%= @cantidad %> | <i class="fa fa-shopping-basket"></i> Ver Canasta | $<%= @total %> | </button>


<div class="modal" id="canasta">
  <div class="bottom white b-t" style="height:240px">
    <div class="row-col"><a data-dismiss="modal" class="pull-right text-muted text-lg p-a-sm m-r-sm">×</a>
      <div class="p-a b-b"><span class="h5">Canasta</span></div>
      <div class="row-row">
        <div class="row-body">
          <div class="row-inner">
            <div class="list-group no-radius no-borders">

              <a data-toggle="modal" data-target="#chat" data-dismiss="modal" class="list-group-item p-x-md">
                <img src="../assets/images/a2.jpg" class="pull-left w-40 m-r img-circle">
                <div class="clear">
                  <span class="font-bold block">James Pill</span>
                  <span class="clear text-ellipsis text-xs">"Lorem ipsum dolor sit amet onsectetur adipiscing elit"</span>
                </div>
              </a>
              <a data-toggle="modal" data-target="#chat" data-dismiss="modal" class="list-group-item p-x-md"><i class="fa fa-circle text-warning text-xs m-r-xs"></i><i class="fa fa-circle text-muted text-xs m-r-xs"></i>  <a href="" class="text-muted m-h"><i class="fa fa-fw fa-facebook"></i> Facebook</a></div></div>



    <table class="table">
        <% @orders.each do |order| %>
        <tr>
        <td><%= order.buyer.first_name + ' ' + order.buyer.last_name %></td>
        <td><%= order.product.name%></td>
        <td><%= order.product.price%></td>
        <td><%= order.status%></td>
        <tr>
        <% end %>
        </table>
      <% end %>
    </div>
</div>
