<div id="products" class="row justify-content-center difuminar animated fadeIn fast ">
  <div class="col-sm-11 offset-sm-1 contenedor" style="padding:20px 20px">



<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @product.detail %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>


</div>
</div>
