<!DOCTYPE html>
<html>
  <head>
    <title>Kobra</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="author" content="André Alvarez">
    <meta name="description" content="Web app para tener las cobranzas bajo control">
    <meta name="keywords" content="software, apps, kobra, cobransas">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Carter+One|Roboto:300,900" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <script src="//cdnjs.cloudflare.com/ajax/libs/tether/1.4.4/js/tether.min.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('kobrita_verde.png') %>



  </head>

  <body>
        <%= render "layouts/alerts" %>
        <%= render "shared/navbar" %>
          <%= yield %>

  </body>

  <script>
    $(".alert" ).delay(1000).fadeOut(3000);
  </script>
</html>
